table{ 
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: 'Assistant', sans-serif;
  border-collapse: collapse;

}
tr{
  width: 20%;
  height: 30px;
  border-bottom: 1px solid #bdbdbd;
  
}
td{
  padding: 0;
}

th{
  font-weight: bolder !important;
  font-family: 'Assistant', sans-serif;
  padding: 0;

}
.demo-table {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  
  .mat-column-demo-position {
    width: 20%;
    border-right: 1px solid currentColor;
    padding-right: 10px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 20%;
    text-align: center;
    font-weight: bold;
  }
  .start-btn{
    display: block;
    margin: 5px;
    margin-top: 5px;
    align-items: center;
    font-family: 'Assistant', sans-serif;

}
tr:hover{
  background: #dddddd;
  
  cursor: pointer;
}
.sumtimes{
  font-family: 'Suez One', serif !important;
  text-align: center;
}
.cards{
  width: 110px;
  margin: auto;
  padding: 10px;
  margin-bottom: 15px;
}
.pdf{
  padding: 5px;
}