<button mat-raised-button class="start-btn" *ngIf="timeron"> שעת התחלה: {{timeA.getHours()<10? '0' + timeA.getHours():
        timeA.getHours()}}:{{timeA.getMinutes() < 10 ? '0' + timeA.getMinutes() :
        timeA.getMinutes()}}:{{timeA.getSeconds() < 10 ? '0' + timeA.getSeconds() : timeA.getSeconds()}} </button>

        <button mat-raised-button class="start-btn" *ngIf="timeron"> שעת נוכחית:
            {{time.getHours()< 10 ? '0' + time.getHours() : time.getHours()}}:{{time.getMinutes()<10 ? '0' +
                time.getMinutes():time.getMinutes()}}:{{time.getSeconds()<10? '0' + time.getSeconds():
                time.getSeconds()}} </button>

                <button mat-raised-button color="primary" class="start-btn" *ngIf="timeron">זמן עבודה:
                    {{timeB}}</button>
                <p *ngIf="timeron" style="font-family: 'Assistant', sans-serif;">תאריך:
                    {{myDate.getDate()}}/{{myDate.getMonth()+1}}/{{myDate.getFullYear()}}</p>
                <p *ngIf="timeron" style="font-family: 'Assistant', sans-serif;">תאריך עברי:
                    {{hDate}}</p>
                <button mat-raised-button class="start-btn" (click)="starttimer()" color="primary"
                    *ngIf="!timeron">התחל</button>
                <mat-card-footer>

                    <mat-form-field appearance="fill" *ngIf="timeron">
                        <mat-label>לשיוך לפרוייקט בחר מהרשימה</mat-label>
                    <mat-select  [(ngModel)]="categorySelected">
                        <mat-option *ngFor="let c of category" [value]="c.id" >
                          {{c.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-progress-bar *ngIf="timeron" mode="indeterminate" color="primary"></mat-progress-bar>
                    <button mat-raised-button class="start-btn" style="float: left;" color="primary" *ngIf="timeron"
                        (click)="offttimer()">סיים</button>
                </mat-card-footer>