<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ניהול שעות עבודה</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>

<br><br><hr>

<ul>
  <li><button routerLink="c1">c1</button></li>
  <li><button routerLink="c2">c2</button></li>
  <li><button routerLink="c3">c3</button></li>
</ul>

<router-outlet></router-outlet>
