.google{
    box-shadow: 20px -20px 30px 4px rgba(214,70,236,.8),
-20px 20px 30px 4px rgba(70,236,225,.8),
20px -20px 30px 4px rgba(70,236,225,.6) inset,
-20px 20px 30px 4px rgba(214,70,236,.6) inset;


border: 1px solid #cce4fc;
border-radius: 5px;
width: 5%;
margin-left: 47/5%;
margin-right: 47.5%;
}
.google-logo{
  
width: 5%;
margin-left: 47/5%;
margin-right: 47.5%;
}
h1, p{
    text-align: center;
    font-family: 'Assistant', sans-serif;

}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .google:hover {
      cursor: pointer;
    animation: zoom-in-zoom-out 2s ease-out infinite;
  }