<div class="img">
<img style="z-index: -1; position: absolute;" src="assets/time.png" alt="" width="75%" height="100%">
<div class="header">
    <!-- <h1>עובדים יותר וחוסכים זמן</h1>
    <h3>שמחים אנו להציע לך שימוש במערכת נוחה וידידותית להזנת שעות עבודה ונוכחות, השימוש במערכת יחסוך לך המון זמן של רישום שעות עבודה, ויאפשר לך לעשות עם הזמן דברים שחשובים באמת.</h3>
    <h3>במערכת זו תהנה ממגוון שימושים חלקם מפורטות הנה:</h3>
    <ul>
        <li>הזנת שעות ידני / אוטומטי</li>
        <li>שיוך שעות למספר מעסיקים</li>
        <li>שליפת דוחות לפי ימים / שבועות / חודשים</li>
        <li>תרשימים להשוואות נתונים</li>
        <li>שליחת דוח למעסיק בסוף החודש</li>
    </ul>
    <p >בוא נתחיל</p> -->
</div>
</div>

<div align="center" class="google">
     <br>
     <br>
     <h1>התחל בעבודה</h1>
     <p>התחבר בקלות בחינם באמצעות חשבון -  </p>
       
         <img class="google-logo" (click)="signInWithGoogle()" src="assets/btn-google.png">


         <p class="build" >האתר עדיין בבניה, אנא היאזרו בסבלנות!</p>

 </div>
     
  
