.img{ 
 float: right;
 width: 75%;
 height: 100%;
 
}
/* .header{
 width: 60%;
 height: 50%;
 margin: auto;
 margin-top: 10%;
 background: #ffff;
 border: 1px solid #abb1b8;
 border-radius: 6px;
 padding: 10px;
} */
.google{
 
float: left;
width: 25%;
margin: auto;
}
.google-logo{
cursor: pointer;
align-items: center;
align-content: center;
}
ul{ 
  margin: auto;
}
li{ 
 
  font-family: 'Assistant', sans-serif;
  list-style: none;
}
li:before { content: '\2764';  margin-right: 25%; padding: 5px; color: red !important;} 
h1, h3, p{
    text-align: center;
    font-family: 'Assistant', sans-serif;

}
.build{
 margin-top:50%;
 border: 1px solid #cce4fc;
 border-radius: 5px;
 padding: 4px;
 width: 50%;
}
.build:hover{
 
  background: #cce4fc;
  color: white;
  cursor: pointer;
 }