<mat-card class="ProfileCard">

<button *ngIf="admin" mat-raised-button style=" font-family: 'Assistant', sans-serif; display:block;" color="accent" [routerLink]="['/admin']">ניהול</button>

    <h1>הפרופיל שלי</h1>
    <button mat-fab color="accent" aria-label="Example icon button with a home icon">
        <img *ngIf="user.photoUrl" class="img-profile" [src]="user.photoUrl" alt="">

    </button>
    <!-- <h1>שעות עבודה</h1> -->
    <p><b>שם פרטי: </b>{{user.firstName}}</p>
    <p><b>משפחה: </b>{{user.lastName}}</p>
    <p><b>אימייל: </b>{{user.email}}</p>

    <button mat-raised-button class="signOut" color="accent" (click)="signOut()">התנתק</button>
</mat-card>

<div class="add-today">
    <mat-accordion>
        <mat-card class="cards" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">

            <h1 class="welcome">ברוכים הבאים</h1>
            <h2 class="welcome">לפניך מספר אפשרויות:</h2>

        </mat-card>
        <mat-expansion-panel hideToggle class="cards">
            <mat-expansion-panel-header (click)="sumshow = false">
                <mat-panel-title class="card-title">
                    עדכון שעות אוטומטי
                </mat-panel-title>
                <mat-panel-description class="card-description">
                    שעון עצר יספור את שעות העבודה שלך!
                </mat-panel-description>
                <button mat-icon-button color="accent" matTooltip="לחץ כאן, כדי לפתוח." aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <app-timerpage></app-timerpage>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="cards">
            <mat-expansion-panel-header (click)="sumshow = false">
                <mat-panel-title class="card-title">
                    עדכון שעות ידני
                </mat-panel-title>
                <mat-panel-description class="card-description">
                    הזן שעת התחלה ושעת סיום - לעדכון!
                </mat-panel-description>
                <button mat-icon-button color="accent" matTooltip="לחץ כאן, כדי לפתוח." aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <app-manualpage></app-manualpage>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="cards" id="pdfexporting">
            <mat-expansion-panel-header (click)="sumshow = !sumshow">
                <mat-panel-title class="card-title">
                    סיכום שעות העבודה שלך
                </mat-panel-title>
                <mat-panel-description class="card-description">
                    פירוט של שעות העבודה שעדכנת במערכת!
                </mat-panel-description>
                <button mat-icon-button color="accent" matTooltip="לחץ כאן, כדי לפתוח." aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <p style=" font-family: 'Assistant', sans-serif;">כאן יוצג שעות העבודה שתעדכן במערכת!</p>
            <app-totaltimes *ngIf="sumshow"></app-totaltimes>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle class="cards">
            <mat-expansion-panel-header (click)="sumshow = false">
                <mat-panel-title class="card-title">
                   הגדרת פרוייקטים
                </mat-panel-title>
                <mat-panel-description class="card-description">
                    כאן תוכלו להגדיר פרוייקט
                </mat-panel-description>
                <button mat-icon-button color="accent" matTooltip="לחץ כאן, כדי לפתוח." aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <p style=" font-family: 'Assistant', sans-serif;">כאן יוצג שעות העבודה שתעדכן במערכת!</p>
            <app-category></app-category>
        </mat-expansion-panel>
        <mat-card class="cards" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">

            <h1 class="welcome">נהנית?</h1>
            <h2 class="welcome">שתף חברים ומכרים!</h2>

        </mat-card>
    </mat-accordion>
</div>

<div class="fixed">
<!-- <div>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
</div> -->
    <p>לפניות, הצעות ייעול ושיפור, תמיכה, תרומות:</p>
    <p>A0548475725@gmail.com</p>

</div>
<!-- <div class="table-items">
    <table>
        <tr class="table-header">
            <th style="width: 150px;">מעסיק</th>
            <th style="width:150px">תאריך</th>
            <th style="width: 150px;">שעת התחלה</th>
            <th style="width:150px">שעת סיום</th>
        </tr>
        <tr class="table-row" *ngFor="let x of data">
            <td align="center">{{x.name}}</td>
            <td align="center">{{x.date}}</td>
            <td align="center">{{x.timeentry}}</td>
            <td align="center">{{x.timeexit}}</td>
        </tr>

    </table>
</div> -->